@model SalesQuotationModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = string.Format("{0} / {1}", T("Nop.Cypher.Misc.MJSTraders.Title").Text, T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuotation.Create.Page.Title").Text);
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Cypher.MJSTraders.SalesQuotation");
}

<form asp-controller="SalesQuotation" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Cypher.Misc.MJSTraders.Title") - @T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuotation.Create.Title")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="CustomerEdit" asp-route-id="@Model.SalesQuotationCustomerId">@T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuatationCustomer.BackTo")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model)
</form>