@model SalesQuotationCustomerModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = string.Format("{0} / {1}", T("Nop.Cypher.Misc.MJSTraders.Title").Text, T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuotation.Edit.Page.Title").Text);
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Cypher.MJSTraders.SalesQuotation");
}

<form asp-controller="SalesQuotation" asp-action="CustomerEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Cypher.Misc.MJSTraders.Title") - @T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuotationCustomer.Edit.Title")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="CustomerList">@T("Nop.Cypher.Misc.MJSTraders.Admin.SalesQuatationCustomer.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @*<button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>*@
            <span id="sales-quotation-customer-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateCustomer.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="sales-quotation-customer-delete" asp-action="SalesQuotationCustomerDelete" />
